body
{
    margin: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


#myCanvas
{
    background-color: #ddd;
    border-bottom: 1px red;
    margin-bottom: 5px;
}

table
{
    width: 100%;
}

#canvasImg
{
    width: 75%;
    height: 75%
}
#canvas
{
	margin: 110px;
    margin: 0px;
}

#navbar-title{
    font-size: 190%;
}
#title
{
    padding-top: 30px;
    font-size: 190%;
}

.flex-zalozenia {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-evenly;
} 

.flex-zalozenia > ul {
    padding-top: 30px;
    padding-right: 20px;
    font-size: 125%;
}

.flex-zespol {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-evenly;
} 

.flex-zespol > ul {
    padding-top: 30px;
    padding-right: 110px;
    font-size: 125%;
}

li{
    margin: 10px;
	padding: 18px 0 18px 42px;
	list-style: none;
	background-image: url("imgs/check.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px; 
}

.three > a > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    margin: 25px;
    *display:inline;
    /* this fix is needed for IE7- */
}

.three > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    margin: 25px;
    *display:inline;
    /* this fix is needed for IE7- */
}

#go_logo
{
    padding: 18px 0 18px 62px;
    list-style: none;
	background-image: url("imgs/go.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px; 
}
#python_logo
{
    padding: 18px 0 18px 58px;
    list-style: none;
	background-image: url("imgs/python.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px; 
}

#react_logo
{
    padding: 18px 0 18px 58px;
    list-style: none;
	background-image: url("imgs/react.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px; 
}

#home_logo
{
    padding: 18px 0 18px 48px;
    list-style: none;
	background-image: url("imgs/house.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px; 
}
#gitlab_logo
{
    padding: 18px 0 18px 58px;
    list-style: none;
	background-image: url("imgs/gitlab.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px; 
}

#gmail_logo
{
    padding: 18px 0 18px 58px;
    list-style: none;
	background-image: url("imgs/gmail.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px; 
}

#leader{
    padding-top: 60px;
    margin-top: 10px;
    font-size: 125%;
    padding: 0px 90px 18px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.centerImage
{
 text-align:center;
 display:block;
 height: 6%;
 width: 6%;
}

.flex-footer{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    bottom: 0;
    margin-top: 150px;
}

