body
{
    margin: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}
#myCanvas
{
    background-color: #ddd;
    border-bottom: 1px red;
    margin-bottom: 5px;
}

table
{
    width: 100%;
}

#canvasImg
{
    width: 75%;
    height: 75%
}
#canvas
{
	margin: 110px;
    margin: 0px;
}